{
  "version" : "2017-02-28",
  "operation" : "Query",
  "query" : {
    "expression" : "pk = :uid and sk = :campaignid",
    "expressionValues" : {
      ":uid": $util.dynamodb.toDynamoDBJson($ctx.identity.sub),
      ":campaignid": $util.dynamodb.toDynamoDBJson("C#$ctx.arguments.where.id")
    }
  },
  "select" : "ALL_ATTRIBUTES"
}
